body {
    margin: 0;
    background-color: #44281d;
    box-sizing: border-box;
}

.header {
    background-color: #97ce4c;
    font-size: 23px;
    padding: 20px;
}

.header a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

.header a:hover {
    color: #f0e14a;
    text-shadow: 1px 1px 2px black;
}

.card {
    width: 1000px;
    margin: 50px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    margin: 60px auto;
}

.image {
    border:2px solid cyan;
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.p-card {
    color: #fff;
    text-align: justify;
    font-size: 24px;
    margin: 10px 0;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} 


.footer {
    display: flex;
    border-top: 1px solid #fff;
    justify-content: center;
    color: white;
}