body {
    margin: 0;
    background-color: #44281d;
    box-sizing: border-box;
}

.header {
    background-color: #97ce4c;
    font-size: 23px;
    padding: 20px;
}

.header a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

.header a:hover {
    color: #f0e14a;
    text-shadow: 1px 1px 2px black;
}

.card {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10rem;
    margin: 60px auto;

}

.image {
    border:1px solid cyan;
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} 

.p-card {
    color: #fff;
    /* text-align: justify; */
    font-size: 1.3rem;
    margin: 10px 0;
}

.p-card:nth-child(2) {
    color:#97ce4c;
    text-shadow: 2px 2px 3px #000;
    font-size: 1.5rem;
}

.footer {
    display: flex;
    border-top: 2px solid #fff;
    justify-content: center;
    color: white;
}